{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Big Auth</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styleNavBar.css' %}">
    </head>

    <body>
      
      <nav class="navbar">
        <div class="navbar-container">
          <div class="navbar-logo">
            <a href="#">BigAuth</a>
            <div class="navbar-messages">
              {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
          {% if request.user.is_authenticated %}
          <div class="navbar-menu">
            <a href="#" class="menu-item active">Home</a>
          </div>
          <div class="navbar-actions">
            <div class="user-indicator">
              <span>{{ user.email }}</span>
            </div>
            <a href="{% url 'authSys:logout' %}" class="action-button logout">
              <span>Logout</span>
            </a>
          </div>
        </div>
          {% endif %}
      </nav>
      
    {% block content %}
    
    {% endblock content %}
    </body>
</html>