{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Verification required</h1>
    <form method="post">
        
        <p>We've sent you a 2FA code.
            Check your email inbox and enter the code to continue.
            If you don't see it, make sure to check your spam or junk folder.</p>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Continue</button>
    </form>
    {% if resend %}
        <form>
            <button type="submit">Resend Code</button>
        </form>
    {% endif %}
    <a href="{% url 'authSys:login' %}">Back to login</a>
</div>

    
{% endblock content %}